@model Option


<ul class="navbar-nav">

    <li class="nav-item">
        <a class="nav-link text-dark" href="/Users/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Users/LoginPartial">Login</a>
    </li>
    <li class="nav-item">
        <a href="/Home/Cart"><i class="fa fa-shopping-cart"></i> = @Model.OptionName</a>
    </li>




</ul>
